* {
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
	outline: none;
}

:root {
    --primary-isc2-color: #006852;
    --secondary-isc2-color: #95d600;
    --primary-isc2-font: 'Gill Sans', Verdana, Geneva, sans-serif; 
    --secondary-isc2-font: Avenir, Verdana, Geneva, sans-serif; 
    --mono-font: ui-monospace, Consolas, 'Courier New', Courier, 'Lucida Console', monospace;
}

:focus {
	outline: none;
}

::selection {
	background-color: var(--secondary-isc2-color);
	color: #464646;
}

::moz-focus-inner {
	border: 0;
}

html {
	font-size: 1.25em;
	background: #f8f8f8;
	scroll-behavior: smooth;
}

body {
	color: #464646;
	font-family: var(--primary-isc2-font);
    background-image: url('../img/tv-lines.png');
}

body ::selection{
	color: #f8f8f8;
	background-color: var(--secondary-isc2-color);
}

a {
	color: var(--primary-isc2-color);
	transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    text-decoration-style: double;
    text-underline-offset: .15rem;
}

a:hover, a:focus {
	color: #0C7D64;
}

p {
	text-align: justify;
    padding: 1em 2em;
    max-width: 120ch;
    margin: auto;
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6, th {
    color: var(--primary-isc2-color);
	font-family: var(--secondary-isc2-font); 
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0 2rem;
    border-bottom: #464646 3px double;
    max-width: 90%;
    width: max-content;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  min-width: 50ch;
}

.table-header {
    font-weight: 600;
    background-color: var(--primary-isc2-color);
    color: #f8f8f8;
}

.table-header td {
    text-align: center;
}

td, th {
  border: 1px solid var(--primary-isc2-color);
  text-align: left;
  padding: .5rem;
}

tr:nth-child(even) {
  background-color: rgb(149, 214, 0, 50%);
}

table tbody tr td:first-child {
    font-family: var(--mono-font);
}

main h1 {
    margin: 2rem auto;
}

img {
	max-width: 100%;
    height: auto;
	display: inline;
}

img ::selection, a img ::selection, img * ::selection, a img * ::selection {
	background: transparent;
}

ul {
    list-style-type: none;
}

#full-page {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: nowrap;
}

header {
    position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
	box-shadow: 0 -10px 35px  90px #f8f8f8;
    background-color: var(--primary-isc2-color);
    background: -webkit-linear-gradient(#006852, #00513F);
    background: -o-linear-gradient(#006852, #00513F);
    background: -moz-linear-gradient(#006852, #00513F);
    background: linear-gradient(#006852, #00513F);
}

nav {
    color: var(--secondary-isc2-color);
    font-weight: normal;
    text-align: right;
}

nav a {
	color: #f8f8f8;
    text-decoration: none; 
}

nav a:hover, nav a:focus {
    color: var(--secondary-isc2-color);
}

.hamburger{
    display: none;
}

#menu_bar {
    display: none;
    padding: .5rem .5rem .5rem 200px;
    flex-direction: column;
}
        
#menu_bar li {
    padding: .5rem 1rem;
    text-align: right;
    font-family: var(--secondary-isc2-font);
    font-weight: 100;
}

.selected {
    text-shadow: 0 0 #fff;
}

#chapter-logo {
    position: absolute;
    margin: .5rem;
    z-index: 100;
    pointer-events: none;
    width: 180px;
}

#chapter-logo-wide {
    display: none;
    max-height: 200px;
}

main {
    padding: 150px 0px 2em 0px;
    flex: 1;
    text-shadow: 0 0 1px #fff;
}

main p {
    line-height: 1.5rem;
}

main a {
	font-family: var(--primary-isc2-font);
    font-weight: 500;
    text-shadow: 0 0 1px #B4F028;
}

main ul {
    list-style: circle outside;
    margin: 0 1.5rem;
}

main ol {
    margin: 0 1.5rem;
}

main ol li {
    font-weight: 600;
    color: var(--primary-isc2-color);
    font-size: 1.25rem;
}

main li {
    margin: .5em 0;
    line-height: 1.25rem;
}

main li::marker {
    color:var(--primary-isc2-color);
}

main li strong {
    font-size: 1rem;
    background-color: rgb(149, 214, 0, 75%);
    padding: .15rem .5rem;
    border-radius: .5rem;
    border: 1px solid var(--primary-isc2-color);
}

main em {
    line-height: 1.25rem;
    color: var(--primary-isc2-color);
    text-shadow: 0px 0px 1px var(--secondary-isc2-color);
    background-color: rgb(149, 214, 0, 50%);
    padding: .15rem .5rem;
    border: 1px solid var(--secondary-isc2-color);
    border-radius: .5rem;
}

main form {
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

strong {
	font-size: 1.2rem;
}

label {
    display: inline-block;
}

.input_field {
    border: 2px solid var(--secondary-isc2-color);
    border-radius: 5px;
    line-height: 1.5em;
    padding: 3px;
    margin: .5rem .25rem;
    display: inline-flex;
    align-items: center;
    height: 2em;
    width: fit-content;
}

.flag::before, .flag::after{
    color: var(--primary-isc2-color);
    border: 2px solid var(--secondary-isc2-color);
    border-radius: 5px;
    line-height: 1.25rem;
    background-color: rgb(149, 214, 0, 50%);
    padding: 0 3px;
}

.flag::before {
    content: "CTF{";
}

.flag::after {
    content: "}";
}

input {
    font-family: var(--mono-font);
    font-size: 1rem;
    max-width: 15ch;
    width: auto;
    padding: 0 .25rem;
    caret-color: var(--secondary-isc2-color);
    caret-shape: block;
}

.button-box {
    display: flex;
    justify-content: center;
}

.flex_box_large {
	padding: 0;
	margin: auto;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    display: inline-flex;
    width: fit-content;
}

.flex_box_large > div {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.boundbox {
    max-width: 1024px;
    margin: auto;
}

.rightbox {
    margin: 2rem 1rem 1rem auto;
    width: fit-content;
}

.centerbox {
    margin: 2rem auto;
    width: fit-content;
}

.calloutbox {
    background-color: #fff;
    border: var(--secondary-isc2-color) 2px solid;
    border-radius: 10px;
    max-width: 80ch;
    padding: 1em 1.5em;
    box-shadow: .5em .5em 0px 0px rgb(149, 214, 0, 50%);
}

.calloutbox p {
    padding: .5em 0px 1em 0px;
}

.button {
    margin: 1em auto;
    color: #f8f8f8;
    background-color: var(--primary-isc2-color);
    border: #00513F 1px solid;
    border-radius: .5em;
    padding: 1em 1.5em;
    width: 90%;
    text-align: center;
	transition-property: color, background-color, border-radius;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    display: block;
}

.button:hover, .button:focus {
	color: #fff;
    background-color: #0C7D64;
    border-radius: 2em;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
    padding: .8em .5em;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    text-align: right;
    background-color: transparent;
    border: 0;
    margin: 0;
    width: 100%;
    overflow: visible;
}
    .hamburger:hover, .hamburger:focus {
      opacity: 1; }
    .hamburger.is-active:hover {
      opacity: 1; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #f8f8f8; }
  
  .hamburger-box {
    width: 2em;
    height: 1.5em;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 2em;
      height: 4px;
      background-color: #f8f8f8;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }
  /*
   * Squeeze
   */
  .hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger--squeeze .hamburger-inner::before {
      transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
    .hamburger--squeeze .hamburger-inner::after {
      transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  
  .hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .hamburger--squeeze.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
    .hamburger--squeeze.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.invisible {
    display: none;
}

.centered {
    text-align: center;
}

.player_name {
    font-family: var(--mono-font);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0 .5rem;
    color: var(--primary-isc2-color);
}

.mono-font {
    font-family: var(--mono-font);
    color: #006852;
    text-shadow: 0 0 1px #fff;
    font-weight: 600;
}

.note {
    background-color: rgb(149, 214, 0, 50%);
    border: 2px solid var(--secondary-isc2-color);
    border-radius: 1rem;
    max-width: 80ch;
    color: var(--primary-isc2-color);
    font-size: .75rem;
    padding: .25rem .5rem;
    text-align: center;
}

.ftr { 
    background: linear-gradient(#444, #212121); 
    color: #aaa; 
    font-size: .75rem; 
    text-align: center; 
    padding: 1rem 2rem; 
    line-height: 1rem
}

.ftr p {
    margin: auto; 
    max-width: 80ch;
}

.crown {
    height: 1rem;
}

.disclaimer {
    background-color: #eaeaea;
    border-left: 5px var(--secondary-isc2-color) solid;
    font-size: .75em;
    padding: .75em 1.5em;
    margin: 3rem auto 1rem auto;
    max-width: 1024px;
}

.disclaimer h2 {
    border: none;
    font-size: 1.2em;
    text-align: left;
    width: auto;
    max-width: none;
    margin: 0 0 .5em 0;
    padding: 0;
}

.disclaimer h3 {
    border: none;
    font-size: .95em;
    text-align: left;
    width: auto;
    max-width: none;
    margin: .75em 0 .15em 0;
    padding: 0;
}

.disclaimer p {
    padding: 0;
    margin: 0 0 .4em 0;
    max-width: 120ch;
    line-height: 1.4;
    text-shadow: none;
}

/* MEDIA QUERIES */
@media screen and (min-width:340px) { 
	.hamburger {
        padding: .8em;
	}
}

@media screen and (min-width:420px) {
	h1 {
		font-size: 2.25rem;
		text-align: center;
		padding: .5rem .5rem 0 .5rem;
	}
	
	p {
		padding: 1em 2em;
	}

    input {
        max-width: 25ch;
    }
    
    .button {
        width: 80%;
        max-width: 30ch;
    }
}

@media screen and (min-width:680px) {
	html {
		font-size: 1.15em;
	}

    main form {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
	
    label {
        width: auto;
        text-align: left;
    }

    .flex_box_large {
		justify-content: space-evenly;
	}

    #chapter-logo-wide {
        position: absolute;
        margin: .5rem;
        z-index: 100;
        pointer-events: none;
        display: inline;
    }

    #chapter-logo {
        display: none;
    }

	.hamburger{
		display: none;
	}

	#menu_bar {
		display: flex;
        flex-direction: row;
	}
	
	#menu_bar li {
		padding: .5rem 1rem;
        text-align: left;
        font-family: var(--secondary-isc2-font);
        display: inline;
	}

    main {
        padding-top: 180px;
    }

    main p {
        max-width: 100ch;
        margin: 0 auto;
    }

    .calloutbox {
        box-shadow: 1em 1em 0px 0px rgb(149, 214, 0, 50%);
    }

    .button {
        margin: 1em 0px 1em auto;
        width: auto;
        padding: 1em 3em;
    }

    .rightbox {
        margin: 0 1rem 1rem auto;
    }
}

@media screen and (min-width:960px) {
    html {
		font-size: 1.25em;
	}

    nav {
        text-align: center;
    }

    #menu_bar {
        padding: .25rem .25rem .25rem 200px;
    }

    .input_field {
        display: flex;
    }

	.flex_box_large {
		padding: 0 1em;
	}

}